html,
body {
    margin: 0;
    padding: 0;
    font-family: 'Anonymous Pro', monospace;
    font-style: normal;
    font-size: 16px;
    color: #fff;
    background-color: #000;
}

/* HEADER */

.logos-header {
    position: absolute;
    right: 0;
}

header img {
    width: 60px;
    position: absolute;
    top: 10px;
    left: 45vw;
}

.logos-header,
.logos-footer {
    margin-top: 15px;
    margin-right: 8px;
    font-size: 2em;
}

a {
    text-decoration: none;
    color: #fff;
}

.banner {
    padding: 20vh 5vh 0 5vh;
    margin: 0 auto;
    top: 15%;
    left: 10%;
    color: #fff;
}

.banner-font {
    font-weight: 300;
    font-size: 4.5vw;
    color: #fff;
    text-align: left;
}

.typewriter p {
    margin: 0.5em 0;
    overflow: hidden;
    white-space: nowrap;
    display: inline-block;
    border-right: .10em solid #7F7F7F;
}

.one {
    width: 12em;
    animation: type 2.75s steps(22, end),
    blink-caret .75s step-end infinite;
    animation-fill-mode: forwards;
}

.two {
    width: 13.5em;
    opacity: 0;
    animation: type2 3.125s steps(25, end),
    blink-caret .75s step-end infinite;
    animation-delay: 2.75s;
    animation-fill-mode: forwards;
}

.three {
    width: 19em;
    opacity: 0;
    animation: type3 4.375s steps(35, end),
    blink-caret .75s step-end infinite;
    animation-delay: 5.875s;
    animation-fill-mode: forwards;
}

@keyframes type {
    0% {
        width: 0;
    }
    99.9% {
        border-right: .10em solid grey;
    }
    100% {
        border: none;
        display: block;
    }
}

@keyframes type2 {
    0% {
        width: 0;
    }
    1% {
        opacity: 1;
    }
    99.9% {
        border-right: .10em solid grey;
    }
    100% {
        opacity: 1;
        border: none;
    }
}

@keyframes type3 {
    0% {
        width: 0;
    }
    1% {
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
}

@keyframes blink-caret {
    from,
    to {
        border-color: transparent;
    }
    50% {
        border-color: grey;
    }
}

header {
    margin: 0;
    width: 100%;
    height: 100vh;
    max-height: 100%;
}

.progress {
    width: 10.3em;
    padding: 0 2em;
    margin: 3em auto 0 auto;
    color: #fff;
    border: 2px solid #fff;
}

.progress:hover a,
.progress:hover,
.progress a:hover {
    background-color: #fff;
    color: #000;
    cursor: pointer;
}

.progress svg {
    width: 1em;
    fill: #fff;
    padding-top: 2px;
    transition: all 0.3s ease-out;
}

.progress:hover .arrow {
    fill: #000;
    transform: rotate(90deg);
}

/* MAIN */

main {
    margin-top: 30px;
}

.grid-container-1 {
    display: grid;
    grid-template-columns: 1000px;
    grid-template-rows: 2fr 1.5fr;
    grid-template-areas: "about" "project";
    justify-content: center;
    grid-row-gap: 100px;
}

.about {
    grid-area: about;
}

.container {
    max-width: 978px;
    width: 100%;
    height: 100vh;
    margin: 0 auto;
}

.title {
    margin-top: 10px;
    text-align: center;
    line-height: 1.5em;
}

h1 {
    font-size: 2.5em;
    margin: 0;
}

.tech-1 img,
.tech-2 img {
    width: 180px;
    margin: 0 30px;
}

.grid-container-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1.75fr 2fr;
    grid-template-areas: "tech1 tech2" "image-me about-me";
    justify-content: center;
}

.tech-1 {
    grid-area: tech1;
    align-self: center;
    margin: 0 auto;
}

.tech-2 {
    grid-area: tech2;
    align-self: center;
    margin: 0 auto;
}

.image-me {
    width: 280px;
    grid-area: image-me;
    margin: 0 auto;
    align-self: center;
}

.about-me {
    grid-area: about-me;
    align-self: center;
}

.about-me p {
    text-align: justify;
}

.flex {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.flex-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

figcaption {
    text-align: center;
}

.project {
    height: 40vh;
    text-align: center;
    grid-area: project;
    margin: 0 auto;
}

.project svg:nth-of-type(1) {
    fill: #fff;
    width: 210px;
    margin: 0 30px;
}

.project svg:nth-of-type(2) {
    fill: #fff;
    width: 230px;
    margin: 0 30px 0 10px;
}

/* FOOTER */

footer {
    height: 125px;
    text-align: center;
}

.logos-footer {
    padding-top: 20px;
}

hr {
    width: 80vw;
}

/* Header Media Query */

@media screen and (max-width: 500px) {
    .progress {
        width: 10.4em;
        font-size: 0.7em;
        padding: 0 1em;
    }
    .logos-header {
        font-size: 1.4em;
    }
    header img {
        width: 40px;
    }
}

@media screen and (max-width: 960px) and (min-width: 501px) {
    .progress {
        width: 10.4em;
        font-size: 0.9em;
        padding: 0 1em;
    }
    .arrow {
        width: 0%;
    }
    .logos-header {
        font-size: 2em;
    }
    header img {
        width: 50px;
    }
}

/* Main Media Query */

@media screen and (max-width: 1000px) {
    .grid-container-1 {
        grid-template-columns: 1fr;
    }
    .about-me {
        padding-right: 10px;
    }
    .container,
    .project {
        max-width: 850px;
    }
    .tech-1 img,
    .tech-2 img {
        width: 160px;
        margin: 10px;
    }
    h1 {
        font-size: 2em;
    }
    main {
        font-size: 0.9em;
    }
    .image-me {
        width: 250px;
    }
}

@media screen and (max-width: 840px) {
    .grid-container-2 {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 25vh 25vh 1fr;
        grid-template-areas: "tech1 tech1" "tech2 tech2" "image-me about-me";
        grid-row-gap: 20px;
        justify-content: center;
    }
    .tech-1 img,
    .tech-2 img {
        width: 180px;
    }
}

@media screen and (max-width: 720px) {
    .grid-container-1 {
        grid-template-rows: 1000px 2fr 1fr;
        grid-template-areas: "about" "project" "footer";
    }
    footer {
        grid-area: footer;
    }
    .grid-container-2 {
        grid-template-columns: 40vw 40vw;
        grid-template-rows: 25vh 25vh 1fr 1fr;
        grid-template-areas: "tech1 tech1" "tech2 tech2" "about-me about-me" "image-me image-me";
        grid-row-gap: 0px;
        justify-content: center;
        align-content: center;
    }
    .tech-1,
    .tech-2 {
        align-self: center;
    }
    .tech-1 img,
    .tech-2 img {
        width: 160px;
    }
    .about-me h1 {
        text-align: center;
    }
    .container,
    .project {
        max-width: 500px;
    }
    .project svg:nth-of-type(1) {
        width: 200px;
    }
    .project svg:nth-of-type(2) {
        width: 220px;
    }
    figure {
        margin: 0;
    }
    figcaption {
        width: 200px;
    }
}

@media screen and (max-width: 500px) {
    .grid-container-1 {
        grid-template-columns: 1fr;
        grid-template-rows: 900px 390px 1fr;
        grid-template-areas: "about" "project" "footer";
    }
    .container,
    .project {
        max-width: 400px;
    }
    .tech-1 img,
    .tech-2 img {
        width: 120px;
        margin: 10px;
    }
    .project svg:nth-of-type(1) {
        width: 180px;
        margin: 0;
    }
    .project svg:nth-of-type(2) {
        width: 200px;
        margin: 0;
    }
    figcaption {
        font-size: 0.9em;
        line-height: 1.3em;
        width: 155px;
        margin: 0;
    }
    .container .title {
        width: 350px;
    }
    .project .title {
        width: 350px;
    }
    footer {
        height: 85px;
    }
    .logos-footer {
        font-size: 1.4em;
        padding-top: 10px;
    }
    footer p {
        font-size: 0.9em;
        line-height: 2em;
        margin: 0;
    }
}
